
.row{
  width:1200px;
  margin:auto;
  display:inline;
}

.col{
  width:1200px;
  margin;auto;
}
.c1,.c2, .c3, .c4,.c5, .c6 
{
margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
}
.c1 {width:98px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
background:green;
margin-top:10px;
background:blue;}
.c2{width:196px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c3 {width:294px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c4 {width:392px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c5 {width:490px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c6 {width:590px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c12{width:1200px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c11 {width:1082px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c10{width:984px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c9 {width:886px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c8 {width:788px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
.c7{width:690px;margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
margin-top:10px;
background:blue;}
