/* Stylesheet for Level1 */
	
	<style>
	* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
	[class*="col c"] {
    float: left;
	
    background: #55b0ff;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2.5%;
    margin-left: 2.5%;
   }
  .col.c1 {width: 7.5%;}
  .col.c2 {width: 15%;}
  .col.c3 {width: 22.5%;}
  .col.c4 {width: 30%;}
  .col.c5 {width: 37.5%;}
  .col.c6 {width: 45%;}
  .col.c7 {width: 52.5%;}
  .col.c8 {width: 60%;}
  .col.c9 {width: 67.5%;}
  .col.c10 {width: 75%;}
  .col.c11 {width: 82.5%;}
  .col.c12 {width: 95%;}
   </style>
   